.pirosszoveg{
    color:red;
}
.piroshatter{
    background-color: red;
}

.zoldszoveg{
    color:green;
}
.zoldhatter{
    background-color:green;
}

.kekszoveg{
    color:blue;
}
.kekhatter{
    background-color:blue;
}